body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

.logo {
    position: relative;
    left: 40px;
    color: #000;
}

.menu, li {
    list-style-type: none;
    line-height: 200%;
    color: #69696a;
}

button {
    width: 98%;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    border: none;
    background-color: #000;
    color: white;
    margin: auto;
}

/* A link that has not been visited */
a:link {
    color: #69696a;
    text-decoration: none;
}

/* A link that is hovered on */
a:hover {
    color: red;
}

/* A link that is selected */
a:active {
    color: green;
}